.about-header {

    width: 22%;
    top: 0;
    bottom: 0;
    padding: 10px 0 0;
    background-color: #fff;
    overflow: auto;
    z-index: 11;

    height: 100vh;
    float:left;
}

.header-image {
    position: relative;
    margin: 20px auto;
    max-width: 110px;
    text-align: center;
    z-index: 0;
}

.header-image img {
    height: 110px;
    max-height: 110px;
    width: 110px;
}


/*Header Title*/
.site-title-block {
    position: relative;
    z-index: 1;
    margin: 20px 20px 10px;
    text-align: center;
}

.site-title {
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1em;
    color: #222222;
    letter-spacing: 0px;
}

.site-subtitle {
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5em;
    color: #9c9c9c;
    letter-spacing: 0px;
}


.content {
  width: 100%;
}

.sub-content {
  width: 76%;

  z-index: 11;
  display: inline-block;
  height: 100vh;
  margin-left: 2%;
}

.main-image {
  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
}



.main-image .main-image-mask {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(10,10,10,0.45);
}

.about-wrapper {
  overflow: auto;
}

.sub-content-main-image-title {

    top: 50%;
}
