.side-image {
  padding: 19px;
}

.side-image img {
  width: 100%;
  border-radius: 5px;
}

.big-card-title {
  color: #000;
}

.big-card-text {
  font-size: 12px;
}

.big-card {
  /*box-shadow: hsl(0, 0%, 90%) 0 0 16px;*/
  margin-bottom: 15px;
}
