.token.bullet {
  color: black;
  display: inline-block;
  background-color: #ffd152;
  border-radius: 100px;
  text-align: center;
  font-size: .75em;
  width: 1.67em;
  height: 1.67em;
  line-height: 1.67em;
  font-family: "Open Sans","DejaVu Sans",sans-serif;
  font-style: normal;
  /* font-weight: bold; */
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #343233;
}
