.vertical-timeline-element-title {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0,0,0,1);
  line-height: 1.33;
}

.vertical-timeline-element-subtitle {
  font-family: 'Ubuntu', sans-serif;
  color: rgba(0,0,0,0.4);
  font-size: 12px;
  font-weight: 500;
}

.vertical-timeline-element-content p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;
}

.vertical-timeline-element-content {
  padding: 0!important;
}
